<launch>
  <!-- Arguments参数 -->
  <arg name="car_mode"  default="mini_mec" />
  <arg name="if_voice" default="false"/>
  
  <!-- 用于robot_state_publisher节点-->
  <node pkg="tf" type="static_transform_publisher" name="base_to_link" args="0 0 0 0 0 0 base_footprint base_link 100" />
  
  <!--坐标变换，需要实测 -->

  <!--麦轮系列 -->
  <!-- car_mode and tf  mini_mec-->
  <group if="$(eval car_mode == 'mini_mec')">
      <!-- 用于雷达节点，后面同理不再赘述-->
      <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.06 0.00 0.20 0 0 0  base_footprint laser 100" />
      <!-- 用于摄像头相关节点，如3d建图导航，后面同理不再赘述-->
      <node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="0.12 0 0.15 0 0 0   base_footprint camera_link 100" />
      <node pkg="tf" type="static_transform_publisher" name="base_to_gyro" args="0 0 0 0 0 0 base_footprint gyro_link 100" />
  </group>
  

 
  <!-- URDF 标准化机器人描述格式 -->
 
  <!--麦轮系列 -->
  <group if="$(eval car_mode == 'mini_mec')">
      <param name = "robot_description" textfile = "$(find sentry_navigation)/urdf/mini_mec_robot.urdf"/> 
  </group>
  

  <!-- 读取urdf信息(robot_description) 发布话题：/joint_states-->
  <node unless="$(eval (car_mode=='mini_mec_moveit_six' or car_mode=='mini_4wd_moveit_six') and if_voice==true)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <!-- 订阅话题：/joint_states，发布小车TF信息-->
  <node unless="$(eval (car_mode=='mini_mec_moveit_six' or car_mode=='mini_4wd_moveit_six') and if_voice==true)" name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

 </launch>


