<launch>
    <include file="$(find sentry_navigation)/launch/sentry_start.launch" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sentry_navigation)/rviz/nav.rviz" /> 

    <include file="$(find sentry_navigation)/launch/robot_pose_ekf.launch" />

    <!-- 设置需要用于导航的地图 -->
     <arg name="map_file" default="$(find sentry_navigation)/map/all_map.yaml"/> 
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"></node> 

    <!-- 开启用于导航的自适应蒙特卡洛定位amcl -->
    <include file="$(find sentry_navigation)/launch/amcl.launch" />
    <node pkg="sentry_navigation" type="amcl_tf" name="amcl_tf_change"/> 

    <!-- 开启teb_local_planner导航算法 与dwa算法相比效果更佳-->
  <include file="$(find sentry_navigation)/launch/include/teb_local_planner.launch">
    <arg name="car_mode" value="mini_mec"/> </include>

   <!-- MarkerArray功能节点> -->
  <!-- <node name='send_mark' pkg="sentry_navigation" type="send_mark.py" output="screen"></node>  -->
</launch>
