<launch>
    <include file="$(find hardware_interface)/launch/sentry_serial.launch">
    </include>

    <include file="$(find fdilink_ahrs)/launch/ahrs_data.launch">

    </include>

    <node pkg="sentry_navigation" type="chassis_odom" name="chassis_odom"/>

    <include file="$(find robot_pose_ekf)/robot_pose_ekf.launch">

    </include>
    
    <node pkg="tf" type="static_transform_publisher" name="imu_to_footprint" args="0 0 0 0 0 0 base_footprint gyro_link 100" />
  
</launch>
