<?xml version="1.0"?>
<launch>
 <param name="use_sim_time" value="false" />
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_link_to_footprint" args="0 0 0 0 0 0 base_link base_footprint 100" /> -->
<param name="robot_description" textfile="$(find robot_des)/urdf/robot_des.urdf"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <arg name="configuration_basename" value="revo_lds.lua"/>
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory
              $(find carto_navigation)/param
          -configuration_basename $(arg configuration_basename)"
      >
    <remap from="scan" to="/scan_filtered"/>
    <!-- <remap from="odom" to="/odom_real"/> -->
    <remap from="imu" to="/imu"/>
  
  </node>
  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.05" >
    <remap from="map" to="map"/>
  </node>
  
</launch>
